{% extends 'layout.njk' %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/input/macro.njk'         import govukInput %}
{% from 'govuk/components/inset-text/macro.njk'    import govukInsetText %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}

{% block pageTitle %}
  {{ 'Address details' | pageTitle(validationResult) }}
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: backNavigation
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary ({
          titleText: 'There is a problem',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}

      <form method="post">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the home address you want to remove from the document?
            </h1>
          </legend>

          <p class="govuk-body">
            Enter the home address exactly as it is shown on the document on the Companies House register.
          </p>

          {{
            govukInsetText({
              text: 'You cannot remove a registered office address from the public register, even if it’s your home address.'
            })
          }}

          {{
            govukInput({
              label: {
                html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
              },
              errorMessage: validationResult.getErrorForField('line1') if validationResult,
              id: 'line1',
              name: 'line1',
              value: line1,
              autocomplete: 'address-line1'
            })
          }}
          {{
            govukInput({
              label: {
                html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
              },
              id: 'line2',
              name: 'line2',
              value: line2,
              autocomplete: 'address-line2'
            })
          }}
          {{
            govukInput({
              label: {
                text: 'Town or city'
              },
              errorMessage: validationResult.getErrorForField('town') if validationResult,
              classes: 'govuk-!-width-two-thirds',
              id: 'town',
              name: 'town',
              value: town,
              autocomplete: 'address-level2'
            })
          }}
          {{
            govukInput({
              label: {
                text: 'County'
              },
              errorMessage: validationResult.getErrorForField('county') if validationResult,
              classes: 'govuk-!-width-two-thirds',
              id: 'county',
              name: 'county',
              value: county
            })
          }}
          {{
            govukInput({
              label: {
                text: 'Postcode'
              },
              errorMessage: validationResult.getErrorForField('postcode') if validationResult,
              classes: 'govuk-input--width-10',
              id: 'postcode',
              name: 'postcode',
              value: postcode,
              autocomplete: 'postal-code'
            })
          }}
          {{
          govukInput({
            label: {
              text: 'Country'
            },
            errorMessage: validationResult.getErrorForField('country') if validationResult,
            classes: 'govuk-input--width-10',
            id: 'country',
            name: 'country',
            value: country,
            autocomplete: 'address-country'
          })
          }}
          {{
            govukButton({
              text: 'Continue',
              attributes: {
                id: 'submit'
              }
            })
          }}
        </fieldset>
      </form>
    </div>
  </div>

{% endblock %}
