{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from 'govuk/components/input/macro.njk'         import govukInput %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}
{% from 'components/date-input.njk'                import dateInput %}

{% block pageTitle %}
  Applicant’s Details
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: backNavigation
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary ({
          titleText: 'There is a problem with the details you gave us',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}

      <h1 class="govuk-heading-l">
        What are your contact details?
      </h1>

      <form method="post">
        {% set previousNamesHtml %}
          {{
            govukInput({
              id: 'previous-name',
              name: 'previousName',
              classes: 'govuk-input--width-20',
              value: previousName,
              label: {
                text: 'Previous full name'
              },
              errorMessage: validationResult.getErrorForField('previousName') if validationResult
            })
          }}
        {% endset -%}

        {{
          govukInput({
            classes: 'govuk-input--width-20',
            label: {
              text: 'Full name'
            },
            errorMessage: validationResult.getErrorForField('fullName') if validationResult,
            id: 'full-name',
            name: 'fullName',
            value: fullName,
            autocomplete: 'name'
          })
        }}

        {{
          govukRadios({
            idPrefix: 'previous-name-conditional',
            name: 'hasPreviousName',
            fieldset: {
              legend: {
                text: 'Has the applicant used a different name on the Companies House register in the last 20 years?',
                isPageHeading: false,
                classes: 'govuk-fieldset__legend'
              }
            },
            errorMessage: validationResult.getErrorForField('hasPreviousName') if validationResult,
            items: [
              {
                value: 'yes',
                text: 'Yes',
                checked: true if hasPreviousName === 'yes',
                conditional: {
                  html: previousNamesHtml
                }
              },
              {
                value: 'no',
                text: 'No',
                checked: true if hasPreviousName === 'no'
              }
            ]
          })
        }}
        {{
          govukInput({
            classes: 'govuk-input--width-20',
            label: {
              text: 'Email address'
            },
            hint: {
              text: 'We’ll only use this to send you a confirmation email.'
            },
            errorMessage: validationResult.getErrorForField('emailAddress') if validationResult,
            id: 'email-address',
            name: 'emailAddress',
            value: emailAddress,
            autocomplete: 'email'
          })
        }}
        {{
          dateInput({
            idPrefix: 'birth',
            labelText: 'Date of birth',
            hintText: 'For example, 31 3 1980',
            validationResult: validationResult,
            values: {
              day: day,
              month: month,
              year: year
            }
          })
        }}
        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>

{% endblock %}
