{% extends 'layout.njk' %}

{% from 'govuk/components/warning-text/macro.njk' import govukWarningText %}
{% from 'govuk/components/button/macro.njk'       import govukButton %}
{% from 'govuk/components/inset-text/macro.njk'   import govukInsetText %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
      <p class="govuk-body-l">
        Use this service to apply to remove your home address, or part of it, from the Companies House public register.
      </p>

      {{
        govukWarningText({
          text: 'You cannot ask to remove your company’s registered office address, even if it’s your home address.',
          iconFallbackText: 'Warning'
        })
      }}

      {{ govukInsetText({
          text: 'It costs £32 to remove your home address from each document. For now, you can only remove your home address from one document at a time using this online service.'
        })
      }}

      <p class="govuk-body">If you want to remove your home address from more than one document, you’ll need to start a new online application for each document or
        <a class="govuk-link" href="https://www.gov.uk/government/publications/apply-to-remove-your-home-address-from-the-public-register-sr01">complete a paper application (SR01)</a>.
      </p>
      <h2 class="govuk-body govuk-!-font-weight-bold">You'll need to know which document contains your home address by checking the
        <a class="govuk-link" href="https://beta.companieshouse.gov.uk/">Companies House register</a>. Make a note of:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>the date it was added to the register</li>
        <li>the document name, which is shown on the PDF of the document</li>
        <li>the document description as it appears in the company filing history</li>
      </ul>
      <h2 class="govuk-body govuk-!-font-weight-bold">You'll also need:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>the applicant’s name, date of birth and any previous names used on the Companies House register in the last 20 years</li>
        <li>a different address to replace the home address, unless the company is closed or the applicant is no longer acting for the company</li>
        <li>the company name and number</li>
        <li>a credit or debit card</li>
      </ul>
      <p class="govuk-body">It takes around 10 minutes to complete this application.</p>

      <form method="post">
      {{
        govukButton({
          text: 'Start now',
          classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-8',
          isStartButton: true,
          attributes: {
            id: 'start-now',
            'data-event-id': 'start-now-button' if piwik,
            onclick: '_paq.push(["trackGoal", ' + piwik.startGoalID + ']);' if piwik
          }
        })
      }}
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/restricting-the-disclosure-of-your-psc-information">
                Restricting the disclosure of your information
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
